.img__cards {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(203px, 1fr));
    gap: 8px 8px;
    padding: 0;
}


@media screen and (max-width: 768px) {
    .img__cards {
        grid-template-columns: repeat(auto-fit, minmax(113px, 1fr));
    }
}