.form__clear-btn {
    background: url(../../../images/ClearBtn.svg);
    background-size: cover;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    right: 9px;
    top: 12px;
}

.form__clear-btn:hover {
    opacity: 0.6;
}