.img__card {
    max-width: 100%;
    max-height: 204px;
    position: relative;
    border: 1px solid rgba(235, 235, 235, 1);
    border-radius: 4px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .img__card {
        height: 29.5vw;
    }
}