.popup {
    z-index: 2;
    position: fixed;
    display: flex;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}